{% extends "base.html" %}

{% block title %}
    XP tracker, Main page
{% endblock title %}

{% block content %}
    <a href="{% url 'xp_tracker_app.views.new_story' %}">New story</a></br>
    <a href="{% url 'xp_tracker_app.views.new_task' %}">New task</a>    

    {% if stories %}
        <h2>User Stories</h2>
        {% for story in stories %}
            <div>
                <h4>{{ story.story_name }}</h4>
                <span> 
                    Deadline: {{ story.time_est }} |
                    Estimated work time: {{ story.time_estimated }}
                </span>
            </div>
        {% endfor %}
    {% else %}
        <div>
            <h4>There are no stories</h4>
        </div>
    {% endif %}

    {% if tasks %}
        <h2>Tasks</h2>
        Estimated total work time: {{ estimated_sum }} </br>
        Working time so far: {{ spent_sum }} </br>
        {% for task in tasks %}
            <div>
                <h4>{{ task.task_name }}</h4>
                <span> 
                    Iteration: {{ task.iteration }} | 
                    Developer: {{ task.developer }} | 
                    Deadline: {{ task.time_est }} | 
                    Estimated work time: {{ task.time_estimated }} |
                    {% if task.time_fin %}
                        Task finsihing time: {{ task.time_fin }} |
                        Work time spent on task: {{ task.time_spent }} 
                    {% else %}
                        <a href="{% url 'xp_tracker_app.views.task_finished' task_pk=task.id %}">Finished</a>  |
                    {% endif %}
                </span>
            </div>
        {% endfor %}
    {% else %}
        <div>
            <h4>There are no tasks</h4>
        </div>
    {% endif %}
{% endblock content %}